body{
	background-image: url("../imagens/banner.jpg");
	background-repeat: no-repeat;
    background-position: center top;
    background-attachment: fixed;
}

div#header{
	width: 100%;
	float: left;
	padding: none;
	background: white;
	margin: 10px 0 10px 0;
}

div#header p.headerItem{
	width: auto;
	float:left;
	padding: 0 5px 0 5px;
}

div#postagens{
	width:75%;
	height: auto;
	float: left;
}

div#ultimosQuadrinhosTitulo{
	width:100%;
	background: white;
	margin-bottom: 20px;
	font-size: 40px;
	margin-top: -40px;
	margin-bottom: -30px;
}

div#ultimosQuadrinhos{
	width:100%;
	background: white;
	margin-bottom: 20px;
}

td img{
	width:100%;
}

td.capa{
	width: 30%;
}

td.titulo{
	width: 100%;
	text-align: center;
	font-size: 40px;
	height: 30%;
}

td.comicInfo{
	height: 10%;
	width: 40%;
}

input#quantidadeComic{
	width:50px;
}

div#pesquisaRapida{
	width: 24%;
	height: auto;
	background: white;
	float:right;
}

input#textNome{
	width:75%;
}

input#btBuscar{
	width:20%;
}
